p {
  padding-bottom: 0;
}

.department-item {
  margin-bottom: 0.5rem;
  border-left: 2px solid #b79a9a;
  padding-left: 0.5rem;
}

.department-name {
  font-size: 0.9rem;
}

.college-name {
  font-size: 0.8rem;
  padding-left: 0.1rem;
  color: #424242;
}
