<div class="handle"></div>

<div id="direction-results">
  <!-- Directions Overview  -->
  <div class="directions-overview" *ngIf="result?.directions && !result?.isProcessing && !result?.isError">
    <div class="directions-overview-item">
      <div class="quantity">{{ result?.directions.totalTime.toFixed(0) }}</div>
      <div class="unit">Minutes</div>
    </div>

    <div class="divider"></div>

    <div class="directions-overview-item">
      <div class="quantity">{{ result?.directions.totalLength.toFixed(2) }}</div>
      <div class="unit">Miles</div>
    </div>
  </div>

  <trip-planner-directions-actions-mobile></trip-planner-directions-actions-mobile>

  <!-- Directions List -->
  <div *ngIf="result?.directions && result?.modeSwitches && !result?.isProcessing && !result?.isError">
    <div class="switch-container" *ngFor="let mode of result?.modeSwitches; let i = index">
      <trip-planner-mode-switch [modeSwitch]="mode" [result]="result"></trip-planner-mode-switch>
    </div>
  </div>
</div>
