# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# Test Coverage
libs/coverage

# System Files
.DS_Store

# NodeMailer Configurations
mailerconfig.*

# TypeORM Configurations
ormconfig.*

# OIDC Configurations
oidcconfig.*
oidc-client-config.*
oidc-provider-config.*
idp_keystore.json

# All SQLite databases
*.db

#Angular private configs
secrets.ts

#All .env.* files exeept .env.sample
.env*
!.env.sample

.angular

.env
.env.local
.env.dev
.env.staging
.env.prod