$primary-fStack: Arial, Trebuchet MS;
$secondary-fStack: Arial, Helvetica, sans-serif;
$terciary-fStack: Tahoe;

$moriston-fStack: 'Avenir Next W00', 'Moriston', Trebuchet MS;

$tungsten-fStack: 'Tungsten', Trebuchet MS;

$font-color: #323232;

$main-blue: #0079c1;
$form-grey: rgba(241, 243, 244, 1);