/* You can add global styles to this file, and also import other style files */
@import 'libs/sass/1140';
@import 'libs/sass/mixins';

html {
  height: 100%;
  font-weight: 100%;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  height: inherit;
  width: inherit;
}
