@import 'libs/sass/mixins';
@import 'libs/sass/modules/esri_map';
@import 'libs/sass/components/sidebar';

:host {
  padding: 0;
  margin-bottom: 0;
}

.sidebar-component-content-container {
  margin-bottom: 0.75rem;
}

.form-group {
  @include flexbox();
}

input[type='text'] {
  @include flex(1);
  padding: 0.25rem;
}

input[type='submit'] {
  padding: 0.25rem;
}
