<div class="container12 flex justify-center">
  <div class="column9">
    <div class="breadcrumbs leader-2 trailer-1">
      <p><a routerLink="/">Aggie Map</a></p>
      <p><a href="javascript:void(0)">About</a></p>
    </div>

    <div class="leader-1 trailer-2">
      <h1 class="long-border">Behind the Texas A&amp;M Aggie Map</h1>
    </div>

    <div>
      <p>
        Aggiemap is the official map for Texas A&amp;M University. It is a collaboration between Texas A&amp;M's Department of Geography, the Office of Mapping and Space Information, and Transportation Services.
      </p>

      <p>
        Aggiemap leads the nation as an example of campus mapping with accessibility features and trip finding capabilities. Aggiemap serves nearly 500,000 visitors per year supporting the 65,000+ students, faculty, and staff that visit Texas A&amp;M everyday.
      </p>

      <h3>TAMU Department of Geography</h3>

      <div class="profile-container leader-1 trailer-2">
        <div class="profile">
          <div class="name">Daniel W. Goldberg, PhD</div>
          <div class="title">Associate Professor</div>
        </div>

        <div class="profile">
          <div class="name">Aaron Harmon</div>
          <div class="title">IT Professional I</div>
        </div>

        <div class="profile">
          <div class="name">Edgar Hernandez</div>
          <div class="title">Software Applications Devleoper I</div>
        </div>
      </div>

      <h3>TAMU Office of Mapping and Space Information</h3>

      <div class="profile-container leader-1 trailer-2">
        <div class="profile">
          <div class="name">Chris Matus</div>
          <div class="title">Geographic Information System Coordinator</div>
        </div>

        <div class="profile">
          <div class="name">Arnold Pearson</div>
          <div class="title">Geospatial Specialist I</div>
        </div>
      </div>

      <h3>TAMU Transportation Services</h3>

      <div class="profile-container leader-1 trailer-2">
        <div class="profile">
          <div class="name">Eric Irwin</div>
          <div class="title">Geospatial Specialist I</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
