version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:10.16
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm install
      - run:
          name: Build AggieMap
          command: npm run build -- --project=aggiemap --prod
      - run:
          name: Build Trees
          command: npm run build -- --project=angular-aggiemap-trees --prod
      - run:
          name: Run Tests
          command: npm run test -- -w 1
      - run:
          name: Run TSLint
          command: npm run lint
