# AS EXAMPLE ONLY. DO NOT COMMIT CHANGES TO THIS FILE.
PORT= # Application port
GLOBAL_PREFIX= # Global prefix for all routes
ORIGINS= # Allowed origins for CORS
LOGGING= # Enable logging

MAILROOM_URL= # Mailroom service URL
MAILROOM_TO_ADDRESS= # Mailroom from address

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

PAYFLOW_ENVIRONMENT= # sandbox or live. Defaults to sandbox
PAYFLOW_PARTNER= # Defaults to PayPal
PAYFLOW_MERCHANT=
PAYFLOW_USER= # PayPal labels this as "Optional"
PAYFLOW_PASSWORD=

TYPEORM_CONNECTION= # REQUIRED: Database connection type. For example, 'mssql'.
TYPEORM_HOST= # REQUIRED: Database host. For example, 'localhost'.
TYPEORM_USERNAME= # REQUIRED: Database username. For example, 'sa'.
TYPEORM_PASSWORD= # REQUIRED: Database password. For example, 'password1234!'.
SA_PASSWORD= # REQUIRED: Database password for the sa user. For example, 'password12345!'.
TYPEORM_DATABASE= # REQUIRED: Database name. For example, 'gisday'.
TYPEORM_SYNCHRONIZE= # Whether or not to synchronize the database schema with the entities. Deafults to 'false'
TYPEORM_DROP_SCHEMA= # Whether or not to drop the database schema on startup. Defaults to 'false'.
TYPEORM_LOGGING= # Whether or not to log database queries. Defaults to 'false'.
TYPEORM_DRIVER_EXTRA= # Additional database connection options. For example, '{"options": {"enableArithAbort": true,"trustedConnection": true}}'.