<footer id="footer">
  <!-- <span class="context-show footer-toggle">
      <span>&#9650;</span>
  <span>&#9650;</span> Show Additional Information
  <span>&#9650;</span>
  <span>&#9650;</span>
  </span>
  <span class="context-hide footer-toggle">
      <span>&#9660;</span>
  <span>&#9660;</span> Hide Additional Information
  <span>&#9660;</span>
  <span>&#9660;</span>
  </span> -->
  <div class="footer-content">
    <a href="http://www.tamu.edu/statements/trademark.html">© 2019 Texas A&amp;M University,</a>
    <a class="no-mobile" href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Texas+A%26M+University&amp;sll=37.0625,-95.677068&amp;sspn=44.658568,67.5&amp;ie=UTF8&amp;z=13"> College Station, Texas 77843</a>
    <br />
    <a routerLink="/about">About</a>
    <span> | </span>
    <a routerLink="/directory">Building Directory</a>
    <span> | </span>
    <a href="https://aggiemap.tamu.edu/feedback.asp">Feedback</a>
    <span> | </span>
    <a href="http://itaccessibility.tamu.edu">Accessibility Policy</a>
    <span> | </span>
    <a routerLink="/privacy">Privacy &amp; Security</a>
    <br />
    <!-- <span>[ This map is for general location purposes only ]</span> -->
  </div>
</footer>
