<section class="internal">
  <h1 class="section-header">Account</h1>

  <div class="section-content">
    <div class="tab-container">
      <div class="tabs">
        <div class="tab" [routerLink]="['details']" routerLinkActive="active">Details</div>
        <div class="tab" [routerLink]="['security']" routerLinkActive="active">Security</div>
        <div class="tab" [routerLink]="['preferences']" routerLinkActive="active">Preferences</div>
      </div>

      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
