@import 'libs/sass/mixins';

:host {
  & > div:first-child {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-around);
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 0.9rem;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1rem;
  }
}

p {
  font-weight: initial;
  margin: 0;
  padding-bottom: 0;
  font-size: 0.75rem;
  max-width: 5rem;
}

.material-icons {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #212121;
}

.directions-action-item {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  position: relative;
  padding: 0 1rem;
  overflow: hidden;
  color: #757575;

  &:hover {
    p {
      color: #212121;
    }
  }
}

.divider {
  display: block;
  height: 2.5rem;
  width: 1px;
  background: #e0e0e0;
}
