<div class="footer-section links">
  <div class="footer-category">
    <a href="http://agrilife.org/required-links/compact/" target="_blank" rel="noopener noreferrer">Compact with
      Texans</a>
    <a href="http://www.tamus.edu/veterans/" target="_blank" rel="noopener noreferrer">Veterans Benefits</a>
    <a href="http://aghr.tamu.edu/education-civil-rights.htm" target="_blank" rel="noopener noreferrer">Equal
      Opportunity</a>
  </div>

  <div class="footer-category">
    <a href="http://agrilife.org/required-links/privacy/" target="_blank" rel="noopener noreferrer">Privacy &amp;
      Security</a>
    <a href="http://fcs.tamu.edu/families/military_families/" target="_blank" rel="noopener noreferrer">Military
      Families</a>
    <a href="http://agrilife.org/required-links/orpi/" target="_blank" rel="noopener noreferrer">Open Records/Public
      Information</a>
  </div>

  <div class="footer-category">
    <a href="http://itaccessibility.tamu.edu/" target="_blank" rel="noopener noreferrer">Accessibility Policy</a>
    <a href="https://secure.ethicspoint.com/domain/en/report_custom.asp?clientid=19681" target="_blank"
      rel="noopener noreferrer">Risk, Fraud, &amp; Misconduct
      Hotline</a>
  </div>

  <div class="footer-category">
    <a href="http://publishingext.dir.texas.gov/portal/internal/resources/DocumentLibrary/State%20Website%20Linking%20and%20Privacy%20Policy.pdf"
      target="_blank" rel="noopener noreferrer">State
      Link Policy</a>
    <a href="http://governor.state.tx.us/homeland/" target="_blank" rel="noopener noreferrer">Texas Homeland
      Security</a>
  </div>

  <div class="footer-category">
    <a href="http://www.tsl.state.tx.us/trail" target="_blank" rel="noopener noreferrer">Statewide Search</a>
    <a href="http://veterans.portal.texas.gov/" target="_blank" rel="noopener noreferrer">Texas Veteran's Portal</a>
  </div>
</div>

<div class="footer-section logo">
  <img src="assets/images/logo/TAM-PrimaryMarkB-white.svg" alt="Texas A&M Logo">
</div>