@import 'libs/sass/mixins';

:host {
  @include flexbox;
  @include flex-direction(row);

  height: inherit;
}

#root {
  @include flex(1);
  padding: 1.75rem 5rem;
  box-sizing: border-box;
  max-width: 80rem; // Limit container widths, a little over 1140px
}
