/* You can add global styles to this file, and also import other style files */
$body-font: 'Open Sans', sans-serif;

body {
  font-family: $body-font;
}

span {
  &.material-symbols-outlined {
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}
