<tamu-gisc-sidebar width="22.5rem" position="right">
  <div class="tabs left">
    <tamu-gisc-sidebar-tab [title]="'Features'" [description]="'Toggle Features (Search, Layers, Legend)'" [material_icon]="'menu'" [route]="''"></tamu-gisc-sidebar-tab>
  </div>

  <div class="content">
    <div class="sidebar-component-content-container">
      <div class="sidebar-component-name">
        <p>Add Layer From URL</p>
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-row">
          <!-- <input formControlName="url" type="text" name="Layer URL" id="layer_url" placeholder="Layer URL" /> -->
          <tamu-gisc-textbox formControlName="url" type="text" placeholder="Layer URL" floatLabel="true"></tamu-gisc-textbox>
        </div>

        <input type="submit" value="Load" />
      </form>
    </div>

    <tamu-gisc-layer-list-categorized></tamu-gisc-layer-list-categorized>

    <div class="sidebar-component-content-container">
      <div class="sidebar-component-name">
        <p>Drawing Tools</p>
      </div>
      <tamu-gisc-map-draw [reference]="'drawing-layer'" [collapseGraphics]="true" (export)="handleDrawSelection($event)"></tamu-gisc-map-draw>
    </div>

    <div class="sidebar-component-content-container">
      <div class="sidebar-component-name">
        <p>Summary & Charts</p>
      </div>

      <tamu-gisc-selection-summary [collection]="selected">
        <div class="charts">
          <tamu-gisc-bar-chart [paths]="[['attributes.Qualifier', 'identity']]" [transformations]="[['categorize', 'count']]" [labels]="['Type']"></tamu-gisc-bar-chart>
        </div>
      </tamu-gisc-selection-summary>
    </div>
  </div>
</tamu-gisc-sidebar>

<tamu-gisc-drawer [width]="'45rem'" [position]="'left'">
  <div class="content">
    <h2>Scenario Builder</h2>

    <form [formGroup]="form2" (ngSubmit)="submit2()">
      <div class="form-section">
        <div class="form-section-name">
          <p>General</p>
        </div>
        <div class="form-row">
          <tamu-gisc-textbox formControlName="name" placeholder="Title" type="text" floatLabel="true"></tamu-gisc-textbox>
        </div>

        <div class="form-row">
          <tamu-gisc-textbox formControlName="description" placeholder="Description" type="textarea" floatLabel="true"></tamu-gisc-textbox>
        </div>
      </div>

      <div class="form-section">
        <div class="form-section-name">
          <p>Map Properties</p>
        </div>

        <div class="form-row">
          <tamu-gisc-textbox formControlName="center" placeholder="Map Center" type="text" floatLabel="true"></tamu-gisc-textbox>
          <tamu-gisc-textbox formControlName="zoom" placeholder="Map Zoom" type="number" floatLabel="true"></tamu-gisc-textbox>
        </div>
      </div>

      <div class="form-section" formGroupName="layers">
        <div class="form-section-name">
          <p>Layers</p>
        </div>

        <div class="form-row" *ngFor="let url of form2['controls'].layers.controls; let i = index">
          <tamu-gisc-textbox [formControlName]="i" placeholder="Service Layer URL" type="text" floatLabel="true"></tamu-gisc-textbox>
        </div>

        <div class="form-group">
          <button (click)="addLayer()">Add Layer</button>
        </div>
      </div>

      <div class="form-row">
        <button type="submit" [disabled]="!form2.valid">
          Go go
        </button>
      </div>
    </form>
  </div>
</tamu-gisc-drawer>

<tamu-gisc-esri-map [config]="config"></tamu-gisc-esri-map>

<tamu-gisc-feature-popup></tamu-gisc-feature-popup>
