<tamu-gisc-sidebar width="22.5rem" position="right">
  <div class="tabs left">
    <tamu-gisc-sidebar-tab [title]="'Features'" [description]="'Toggle Features (Search, Layers, Legend)'" [material_icon]="'menu'" [route]="''"></tamu-gisc-sidebar-tab>
  </div>

  <div class="content">
    <!-- <div class="sidebar-component-content-container">
      <div class="sidebar-component-name">
        <p>Add Layer From URL</p>
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-collection row">
          <tamu-gisc-textbox formControlName="url" type="text" placeholder="Layer URL" floatLabel="true"></tamu-gisc-textbox>
        </div>

        <tamu-gisc-button type="submit" value="Load"></tamu-gisc-button>
      </form>
    </div> -->

    <tamu-gisc-layer-list-categorized></tamu-gisc-layer-list-categorized>
  </div>
</tamu-gisc-sidebar>

<tamu-gisc-drawer [width]="'45rem'" [position]="'left'" *ngIf="router.url === '/create'">
  <div class="content">
    <!-- Scenario builder loaded from routes -->
    <router-outlet></router-outlet>
  </div>
</tamu-gisc-drawer>

<tamu-gisc-drawer [width]="'30rem'" [position]="'left'" *ngIf="router.url.includes('workshop')">
  <div class="content">
    <!-- Scenario builder loaded from routes -->
    <router-outlet></router-outlet>
  </div>
</tamu-gisc-drawer>

<tamu-gisc-esri-map [config]="config"></tamu-gisc-esri-map>

<tamu-gisc-feature-popup></tamu-gisc-feature-popup>
