PORT= # Application port
GLOBAL_PREFIX= # Global prefix for all routes
ORIGINS= # Allowed origins for CORS
LOGGING= # Enable logging

MAILROOM_URL= # Mailroom service URL. This is where all email requests are proxied to
MAILROOM_FROM= # Mailroom from address
MAILROOM_TO= # Mailroom to address 
REJECT_UNAUTHORIZED= # Reject unauthorized SSL certificates