<tamu-gisc-esri-map [config]="config"></tamu-gisc-esri-map>

<tamu-gisc-sidebar>
  <div class="tabs left">
    <tamu-gisc-sidebar-tab [route]="''"></tamu-gisc-sidebar-tab>
  </div>

  <div class="content">
    <tamu-gisc-tamu-block></tamu-gisc-tamu-block>

    <tamu-gisc-layer-list></tamu-gisc-layer-list>

    <tamu-gisc-layer-filter [reference]="'trees_layer'"></tamu-gisc-layer-filter>

    <tamu-gisc-slection-summary [deleteDuplicates]="true" [identifier]="'OBJECTID'" [layers]="'trees_layer'">
      <div class="charts">
        <tamu-gisc-line-chart [paths]="[['attributes.Species', 'identity'], ['attributes.Species', 'attributes.Height']]" [transformations]="[['categorize', 'count'], ['categorize', 'average']]" [labels]="['Species', 'Avg. Height']"></tamu-gisc-line-chart>
      </div>
    </tamu-gisc-slection-summary>
  </div>
</tamu-gisc-sidebar>
