<div class="header-section">
  <div class="header-nav-item logo">
    <a href="https://two.tamu.edu/default.aspx">
      <img src="assets/images/TWO-logo.png" alt="Texas Water Observatory (TWO) Logo">
    </a>
  </div>

  <div class="header-nav-item">
    <a href="https://two.tamu.edu/default.aspx">Home</a>
  </div>

  <div class="header-nav-item">
    <a href="https://two.tamu.edu/about.aspx">About</a>
  </div>

  <div class="header-nav-item" routerLinkActive="active">
    <a [routerLink]="['/']">Data</a>
  </div>

  <div class="header-nav-item">
    <a href="https://two.tamu.edu/people.aspx">People</a>
  </div>

  <div class="header-nav-item">
    <a href="https://two.tamu.edu/sites.aspx">Sites</a>
  </div>
</div>

<div class="header-section">
  <div class="header-nav-item">
    <a href="https://cas.tamu.edu/cas/login?service=https://two.tamu.edu/Admin/default.aspx&renew=true">Login</a>
  </div>
</div>