/* You can add global styles to this file, and also import other style files */
@import 'libs/sass/1140';

@import 'libs/sass/mixins';

$primary-font-family: 'Ubuntu', sans-serif;
$secondary-font-family: 'Muli', sans-serif;

$inactive-color: hsl(223, 15%, 67%);
$active-color: hsl(223, 75%, 67%);
$state-transition-color: hsl(223, 60%, 67%);

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.4;
  font-family: $primary-font-family;
  color: #424242;
  background: hsla(200, 10%, 99%, 1);
}

body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: $secondary-font-family;
  font-weight: 400;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

.sidebar-menu {
  .menu-item {
    @include flexbox();
    @include flex-direction(row);
    font-size: 1.05rem;
    color: $inactive-color;
    padding: 0.75rem 0.5rem;
    margin: 0.5rem 0;
    cursor: pointer;

    &:hover {
      color: $state-transition-color;
    }
    &.active {
      color: $active-color;
      font-weight: 500;
    }

    p {
      margin: 0 1rem;
    }
  }
}

section {
  &.internal {
    .section-header {
      margin-bottom: 2rem;
    }
  }
}

.tab-container {
  .tabs {
    @include flexbox();
    @include flex-direction(row);
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 2pt;
      position: absolute;
      bottom: 0;
      background: #e0e0e0;
      z-index: -1;
    }

    .tab {
      padding: 0.25rem 1.5rem;
      font-size: 1.05rem;
      cursor: pointer;
      @include no-select;

      &.active {
        border-bottom: 2pt solid;
        border-color: $active-color;
        font-weight: 500;
        color: #212121;
      }
    }
  }

  .tab-content {
    padding: 1rem 0;
  }
}

// Main content container in sidebar layouts
#root {
  @include flex(1);
  padding: 1.75rem 5rem;
  box-sizing: border-box;
  max-width: 80rem; // Limit container widths, a little over 1140px
}
