/* You can add global styles to this file, and also import other style files */
@import 'libs/sass/1140';

@import 'libs/sass/mixins';

@import '~highlight.js/styles/atom-one-dark.css';

$primary-font-family: 'Ubuntu', sans-serif;
$secondary-font-family: 'Muli', sans-serif;

$active-color: hsl(223, 75%, 67%);
$state-transition-color: hsl(223, 60%, 67%);
$inactive-color: hsl(223, 15%, 60%);
$lightened-inactive-color: lighten($inactive-color, 25%);

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: $primary-font-family;
  color: #424242;
  background: hsla(200, 10%, 99%, 1);
  position: relative;
}

body {
  height: 100%;
  width: 100%;
}

section {
  margin: 2.5rem 0;

  &.internal {
    .section-header {
      margin-bottom: 2rem;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-family: $secondary-font-family;
  font-weight: 400;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a,
.faux-link {
  color: $active-color;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  margin-left: 1rem;
  list-style-position: inside;

  li {
    margin: 0.5rem 0;
  }
}

code {
  font-size: 0.8rem;
  border: 1.5pt solid $inactive-color;
  color: $inactive-color;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  margin: 0 0.1rem;
  border-radius: 3pt;

  max-height: 35rem;

  &.secondary {
    background: none;
    border: none;
    color: $inactive-color;
    font-weight: 500;
    font-size: 1rem;
    padding: 0;
  }

  &.high-contrast {
    background: $active-color;
    color: #ffffff;
    border: none;
  }

  &.hljs {
    padding: 1rem;
    margin: initial;
  }
}

table {
  // All tables, except tables inside code elements.
  &:not([class^='hljs']) {
    width: 100%;
    margin: 1rem 0;
    font-size: 0.95rem;

    border: 1pt solid $lightened-inactive-color;
    border-collapse: collapse;

    td,
    th {
      padding: 0.75rem;
    }

    td {
      border: 1pt solid $lightened-inactive-color;
      border-collapse: collapse;
    }

    thead {
      tr {
        background: #fafafa;
      }

      th {
        text-align: left;
      }
    }

    tbody {
      tr {
        &:nth-child(2n) {
          background: #fafafa;
        }

        // Targets the div in the "Description" column of each row
        td:nth-child(2) {
          & > div:first-child {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(space-between);

            & > div:nth-child(2) {
              white-space: nowrap;
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }

  // Add small padding after line column in code blocks
  &[class^='hljs'] {
    td:first-child {
      padding-right: 0.5rem;
    }
  }
}

.material-icons {
  color: #bdbdbd;
  font-size: 1.4rem;
  @include transition(color 0.3s);

  &.alt {
    color: $inactive-color;
  }

  &.action {
    cursor: pointer;

    &:hover {
      color: #616161;
    }

    &.alt {
      &:hover {
        color: $active-color;
      }
    }

    &.error {
      &:hover {
        color: hsla(10, 100%, 59%, 1);
      }
    }
  }
}

.sidebar-menu {
  .menu-item {
    @include flexbox();
    @include flex-direction(row);
    font-size: 1.05rem;
    color: $inactive-color;
    padding: 0.75rem 0.5rem 0rem 0.5rem;
    margin: 0.5rem 0;
    cursor: pointer;
    outline: none;

    // Have material icons inherit the color from the sidebar menu item,
    // instead of using global styles which are OK, but not 100% in line
    // with the application color scheme.
    .material-icons {
      color: inherit;
    }

    &:hover {
      color: $state-transition-color;
    }

    &.active {
      color: $active-color;
      font-weight: 500;

      ul > li + ul {
        display: block;
      }
    }

    p,
    li {
      margin: 0 1rem;
    }

    ul {
      list-style: none;
      margin-left: 0;

      ul {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        display: none;

        li:first-child {
          margin-bottom: 0;
        }

        li {
          padding: 0.4rem 0;
          font-weight: 400;
          font-size: 0.95rem;
          color: $inactive-color;
          position: relative;

          &::before {
            content: '';
            height: 100%;
            top: 0;
            left: -0.9rem;
            width: 2pt;
            background: transparent;
            position: absolute;
            @include transition(background 0.25s);
          }

          &:hover {
            color: $state-transition-color;

            &::before {
              background: $state-transition-color;
            }
          }
        }
      }
    }
  }
}

.sidebar-section-title {
  color: #9e9e9e;
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.tab-container,
tamu-gisc-tabs {
  margin: 1rem 0;
  @include flexbox();
  @include flex-direction(column);
  .tabs {
    @include flexbox();
    @include flex-direction(row);
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 2pt;
      position: absolute;
      bottom: 0;
      background: #e0e0e0;
      z-index: -1;
    }

    .tab {
      font-size: 1.05rem;
      padding: 0.25rem 1.5rem;
      margin-top: 0;
      margin-bottom: 0;
      cursor: pointer;
      @include no-select;

      &.active {
        border-bottom: 2pt solid;
        border-color: $active-color;
        font-weight: 500;
        color: #212121;
      }
    }
  }

  .tab-content {
    padding: 1rem 0;
  }
}

.section-header-api-version {
  color: $inactive-color;
}

// Main content container in sidebar layouts
#root {
  @include flex(1);
  margin: 0rem 5rem;
  box-sizing: border-box;
  max-width: 80rem; // Limit container widths, a little over 1140px
}

.service-endpoint {
  @include flexbox;
  @include flex-direction(row);
  border: 1.5pt solid;
  border-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;

  margin-top: 1rem;
  margin-bottom: 1rem;

  .service-verb,
  .service-address {
    padding: 0.75rem 1rem;
  }

  .service-address {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);

    font-family: monospace;

    .url-actions {
      display: inherit;
      @include flex-direction(row);

      span {
        margin: 0 0.3rem;
      }
    }
  }

  .service-verb {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    font-weight: 500;
    border-right: 1.5pt;
    border-color: inherit;
    border-style: inherit;

    &.get {
      color: #4caf50;
    }

    &.post {
      color: #ff9800;
    }

    &.put {
      color: #03a9f4;
    }

    &.patch {
      color: #9e9e9e;
    }

    &.delete {
      color: #f44336;
    }
  }
}

.parameter-detail-container {
  margin: 0.75rem 0 2rem 0;
  .parameter-detail-header {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    // border-bottom: 1.5pt solid #e0e0e0;
    border-bottom: 1.5pt solid $lightened-inactive-color;
    padding-bottom: 0.5rem;
    position: relative;

    span.permalink {
      position: absolute;
      left: -2.25rem;
      top: 50%;
      opacity: 0;
      @include transform(translateY(-50%));
      @include transition(opacity 0.2s);
    }

    h3,
    span,
    .parameter-detail-header-badges {
      margin-right: 0.4rem;
      margin-left: 0.4rem;
    }

    span {
      cursor: pointer;
      color: $inactive-color;

      &:hover {
        color: $state-transition-color;
      }
    }

    .parameter-detail-header-badges {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);

      code {
        margin: 0 0.3rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .parameter-detail-content {
    margin-left: 1rem;
  }

  &:hover {
    .parameter-detail-header span.permalink {
      opacity: 1;
    }
  }
}

.attribute-list {
  border-left: 1.25pt solid $lightened-inactive-color;
  @include transition(border-color 0.3s);

  // Increase padding on left for nested attribute lists
  .attribute-list,
  .attribute-node {
    margin-left: 0.5rem;
    @include transition(border-color 0.3s);
  }

  .attribute-unit {
    margin: 1rem 0.75rem 1rem 1rem;

    .attribute-header {
      @include flexbox();
      @include flex-direction(row);
      position: relative;

      .attribute-name {
        font-weight: 500;
        margin-right: 0.5rem;
      }
    }

    .attribute-description {
      p {
        margin-top: 0.25rem;
      }
    }
  }

  .attribute-node {
    border-left: 1.25pt solid $lightened-inactive-color;
    padding-left: 1rem;
    margin-top: 0.5rem;

    &:hover {
      border-color: lighten($color: $inactive-color, $amount: 10%);
    }
  }

  &:hover {
    border-color: lighten($color: $inactive-color, $amount: 10%);
  }
}

.pill {
  border: 1pt solid $inactive-color;
  color: $inactive-color;
  background: none;
  display: inline-block;
  border-radius: 99rem;
  padding: 0.2rem 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;

  span {
    display: inline-block;
    vertical-align: middle;

    &.material-icons {
      margin-left: 0.2rem;
    }
  }
}
