<div [title]="name" [attr.alt]="label" type="domElement" [ngClass]="{ active: active | async, error: (status | async)?.isError, disabled: (meta_status | async).isModeRestricted || (!(meta_status | async).allPristine && !(meta_status | async).toggleHasResult) }" (click)="setTravelMode(name)" tabindex="0">
  <i class="material-icons">{{ iconName }}</i>

  <!-- If trip result error, show ETA placholder and apply error class. -->
  <span class="eta" *ngIf="(status | async)?.isFulfilled && (status | async)?.isError">--</span>

  <!-- If trip result is processing, show ETA placholder. -->
  <span class="eta" *ngIf="(status | async)?.isProcessing">--</span>

  <!-- If trip result was successful and directions exist, display ETA. -->
  <span class="eta" *ngIf="(status | async)?.isFulfilled && (status | async)?.directions?.totalTime">{{ (status | async)?.directions?.totalDriveTime | timeUntil }}</span>
</div>
