<tamu-gisc-drawer layout="relative" width="20rem">
  <div class="content">
    <div class="sidebar-menu">
      <div class="menu-item" [routerLink]="['stats']" routerLinkActive="active">
        <span class="material-icons">trending_up</span>
        <p>Stats</p>
      </div>

      <div class="menu-item" [routerLink]="['client-metadata']" routerLinkActive="active">
        <span class="material-icons">web</span>
        <p>Client Metadata</p>
      </div>

      <div class="menu-item" [routerLink]="['grant-types']" routerLinkActive="active">
        <span class="material-icons">add_box</span>
        <p>Grant Types</p>
      </div>

      <div class="menu-item" [routerLink]="['response-types']" routerLinkActive="active">
        <span class="material-icons">add_box</span>
        <p>Response Types</p>
      </div>

      <div class="menu-item" [routerLink]="['token-auth-methods']" routerLinkActive="active">
        <span class="material-icons">add_box</span>
        <p>Token Auth Methods</p>
      </div>

      <div class="menu-item" [routerLink]="['access']" routerLinkActive="active">
        <span class="material-icons">face</span>
        <p>Access</p>
      </div>

      <div class="menu-item" [routerLink]="['users']" routerLinkActive="active">
        <span class="material-icons">people</span>
        <p>Users</p>
      </div>

      <div class="menu-item" [routerLink]="['roles']" routerLinkActive="active">
        <span class="material-icons">security</span>
        <p>Roles</p>
      </div>

      <div class="menu-item">
        <span class="material-icons">login</span>
        <a href="http://localhost:3000/oidc/login">Login</a>
      </div>
    </div>
  </div>
</tamu-gisc-drawer>

<div id="root">
  <router-outlet></router-outlet>
</div>
