@import 'libs/sass/mixins';

//  ==========================================================================
//   Mobile App Styles
//  ==========================================================================
@import 'libs/sass/modules/mobile_app';

:host {
  height: inherit;
  width: inherit;
}

:host {
  display: flex;
  background: rgba(250, 250, 250, 0.31);
}
