<select id="timeModeSelector" (change)="setTimeMode($event.target.value)" [ngClass]="requestedTime == null ? '' : 'requestedTimeVisible'">
  <option value="now" [selected]="(timeMode | async) == 'now'">Leave now</option>
  <option value="depart" [selected]="(timeMode | async) == 'depart'">Leave at</option>
  <!-- <option value="arrive" [selected]="(timeMode | async) == 'arrive'">Arrive by</option> -->
</select>

<div class="date-time-display" *ngIf="requestedTime != null && ((timeMode | async) == 'depart' || (timeMode | async) == 'arrive')" (click)="dateTimePickerVisible = true">{{ requestedTime | date: 'short' }}</div>

<gisc-tooltip [position]="'bottom left'" [width]="'20rem'" [isVisible]="dateTimePickerVisible" *ngIf="(timeMode | async) == 'depart' && requestedTime !== null && dateTimePickerVisible" (outsideClick)="dateTimePickerVisible = false">
  <dl-date-time-picker maxView="month" minView="minute" startView="day" minuteStep="5" (change)="setRequestedTime($event)" [(ngModel)]="requestedTime"></dl-date-time-picker>
</gisc-tooltip>
