<form autocomplete="off" action="/user/pwr" method="post">
  <p>Provide your email so we can email you further instructions on how to reset your password</p>
  <div class="form-input">
    <input required type="text" name="email" class="error-input" placeholder="Email" autofocus="true" />
  </div>

  <button type="submit" class="login login-submit">Send email</button>
</form>
