<form autocomplete="off" method="post">
  <input type="hidden" name="uuid" value="<%= details.uuid %>" />
  <input required type="text" name="email" placeholder="Email" autofocus="true" />
  <input required type="password" name="password" placeholder="Password" />

  <label><input type="checkbox" name="remember" value="yes" checked="yes" />Stay signed in</label>

  <button type="submit" class="login login-submit">Sign-in</button>
</form>
