<form autocomplete="off" action="/user/register" method="post">
  <input required type="text" name="name" placeholder="Name" autofocus="on" />
  <input required type="text" name="email" placeholder="Email" />
  <input required type="password" name="password" placeholder="Password" />
  <input required type="password" name="confirm_password" placeholder="Confirm Password" />
  <% if (error) { %>
  <p><%= error %></p>
  <% } %>
  <button type="submit" class="form-input">Register</button>
</form>
