<form autocomplete="off" method="post">
  <input type="hidden" name="uuid" value="<%= details.uuid %>" />

  <% if (error) {%>
  <p id="error-message"><%= message %></p>
  <%}%>

  <div class="form-input">
    <input required type="text" name="email" class="error-input" placeholder="Email" autofocus="true" />
  </div>

  <div class="form-input">
    <input required type="password" name="password" placeholder="Password" />
  </div>

  <div class="two-col session-controls">
    <div>
      <div class="custom-checkbox">
        <input type="checkbox" name="remember" value="yes" checked="yes" />
        <div class="material-icons unchecked">check_box_outline_blank</div>
        <div class="material-icons checked">check_box</div>
        <p>Stay signed in</p>
      </div>
    </div>

    <div><a href="http://">Forgot password?</a></div>
  </div>

  <div class="form-input">
    <button type="submit" class="login login-submit">Sign-in</button>
  </div>

  <div class="account-register-prompt">
    <%if (!devMode) { %>
    <p>Don't have an account? <a href="http://localhost:4001/user/register">Get started</a>.</p>
    <%} else { %>
    <p>Don't have an account? <a href="http://">Get started</a>.</p>
    <%} %>
  </div>
</form>
